.page {
  display: flex;
  background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}

.section__information {
  display: grid;
  grid-template-rows: 130px 1fr 1fr;
  gap: 50px;
  width: 35%;
  min-width: 680px;
  margin: 50px auto 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  gap: 88px;
  align-items: center;
  padding: 45px 100px 100px 75px;
}

.logo--container {
  display: flex;
  height: 100%;
  background-image: url('assets/images/logo_pineapple.png');
  background-repeat: no-repeat;
  background-position: center;
}

.nav {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
}

.nav__item {
  text-decoration: none;
  color: inherit;
  line-height: 26px;

  &:hover {
    color: var(--accent);
  }
}

.main {
  display: grid;
}

.main--form-view {
  gap: 24px;
  padding: 112px 0 0 0;
}

.main--success {
  gap: 3px;
  padding: 1px 0 0 0;
}

.main__text {
  display: grid;
  width: 65%;
  margin: 0 auto;
}

.main__text--form-view {
  gap: 16px;
  padding: 32px 25px 25px 20px;
}

.main__text--success {
  gap: 21px;
  padding: 2px 20px 0 20px;
}

.trophy-image {
  display: grid;
  gap: 16px;
  width: 65%;
  margin: 0 auto;
  padding: 38px 25px 25px 20px;
}

.heading {
  display: flex;
  align-items: center;
  font-family: Georgia Regular, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: var(--dark);
}

.paragraph--wrapper {
  align-items: center;
  margin: 0 auto;
  padding: 1px 20px 48px 1px;
  border-bottom: 1px solid var(--medium);
}

.paragraph {
  line-height: 28px;
}

.paragraph--success {
  border: 2px solid var(--medium);
}

.form {
  display: grid;
  grid-template-rows: 50px 1fr;
  gap: 27px;
}

.custom-field {
  position: relative;
  margin: 0 -82px 0 100px;
}

.custom-field .input {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: #ffffff;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 44px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid var(--medium);

  &:hover {
    border: 1px solid #4066A5;
  }

  &:focus {
    outline: 1px solid transparent;
    box-shadow: 0 30px 40px 0 #1318210F;
  }
}

.custom-field::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 71px;
  width: 4px;
  background-color: #4066A5;
}

.button {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 2px;
  background-color: #FFFFFF;
  padding: 26px 36px 38px 18px;
  border: 1px solid transparent;

  &:hover {
    cursor: pointer;
    --icon-fill: #4066A5;
    --icon-opacity: 1;
  }
}

.checkbox--wrapper {
  align-items: center;
  width: 59%;
  margin: 0 auto;
  padding: 49px 55px 37px 1px;
  border-bottom: 1px solid var(--medium);
}

.checkbox {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.checkbox__input {
  display: none;
}

.checkbox__box {
  content: '';
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  transition: background 0.15s, border-color 0.15s;
  border: 2px solid var(--medium);
  border-radius: 3px;
}

.checkbox__box::after {
  content: url('assets/icons/checkmark.svg');
  color: #ffffff;
  transform: scale(0);
  transition: transform 0.15s;
}

.checkbox__input:checked + .checkbox__box {
  background: #2266dc;
  border-color: #2266dc;
}

.checkbox__input:checked + .checkbox__box::after {
  transform: scale(1);
}

.link {
  font-weight: 500;
  color: var(--dark);

  &:hover {
    color: var(--accent);
  }

  &:active {
    color: #233759;
  }
}

.footer {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 50px 0 0 0;
}

.social-icon {
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    box-shadow: 0 20px 40px rgba(19, 24, 33, 0.3);
    --icon-fill: #FFFFFF;
    --icon-opacity: 1;
  }
}

.fb-icon {
  &:hover {
    background-color: #4267B2;
    --icon-stroke: #4267B2;
  }

  &:active {
    background-color: #2F4A80;
    --icon-stroke: #2F4A80;
  }
}

.instagram-icon {
  &:hover {
    background-color: #C13584;
    --icon-stroke: #C13584;
  }

  &:active {
    background-color: #8F2762;
    --icon-stroke: #8F2762;
  }
}

.twitter-icon {
  &:hover {
    background-color: #1DA1F2;
    --icon-stroke: #1DA1F2;
  }

  &:active {
    background-color: #177FBF;
    --icon-stroke: #177FBF;
  }
}

.youtube-icon {
  &:hover {
    background-color: #FF0000;
    --icon-stroke: #FF0000;
  }

  &:active {
    background-color: #CC0000;
    --icon-stroke: #CC0000;
  }
}

.section__image {
  width: 65%;
}

.validation-error {
  font-size: 12px;
  color: #CC0000;
}

@media (max-width: 500px) {
  .section__information {
    grid-template-rows: 60px 1fr 1fr;
    gap: 0;
    min-width: 100%;
    background-image: url('assets/images/image_summer.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    margin: 0 auto;
  }

  .header {
    grid-template-columns: 3fr 5fr;
    gap: 0;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 0 20px 10px 20px;
  }

  .logo--container {
    background-image: url('assets/images/logo_pineapple_simple.png');
    background-position: left;
  }

  .nav {
    padding-top: 10px;
  }

  .nav__item {
    font-size: 14px;
    line-height: 24px;
  }

  .mobile-main {
    width: 90%;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
    margin: 188px auto;
  }

  .main--form-view {
    gap: 0;
    padding: 0;
  }

  .main__text {
    width: 100%;
  }

  .main__text--form-view {
    gap: 10px;
    padding: 30px 20px 20px 20px;
  }

  .main__text--success {
    gap: 10px;
    padding: 0 20px;
  }

  .trophy-image {
    width: 100%;
    padding: 30px 25px 39px 20px;
  }

  .heading {
    font-size: 24px;
    line-height: 34px;
  }

  .paragraph--wrapper {
    padding: 0 0 39px 0;
  }

  .paragraph {
    line-height: 26px;
  }

  .custom-field {
    margin: 0 20px 0 20px;
  }

  .custom-field .input {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
  }

  .custom-field::before {
    height: 61px;
  }

  .button {
    padding: 20px 20px 34px 3px;
  }

  .checkbox--wrapper {
    width: 88%;
    padding: 20px 0 20px 0;
  }

  .checkbox__input:checked + .checkbox__box::after {
    transform: scale(1);
  }

  .footer {
    gap: 10px;
    padding: 20px 0 30px 0;
  }

  .section__image {
    display: none
  }
}
